.feed {
    flex: 0.8;
    border-right: 1px solid var(--twitter-background-color);
    min-width: 600px;
    overflow-y: scroll;
    background-color: var(--component-background);

    /* hide scrollbar for IE, Edge, Firefox*/
    -ms-overflow-style: none;
    scrollbar-width: none; /* firefox */
}

/* hide feed in Chrome, Safari, and Opera */
.feed::-webkit-scrollbar {
    display: none;
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid var(--twitter-background-color);
    padding: 15px 20px;
}

.feed__header > h2 {
    font-size: 15px;
    font-weight: 800;
}
.tweet_box{
    margin: 10px;
    padding: 10px;
}

.tweet_box > p {
    margin: 20px 0;
    padding-bottom: 20px;
    letter-spacing: 1px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
