* {
    margin: 0;
}
  
body {
    --main-site-background: #f2f9f9;;
    --twitter-color: #406564;
    --twitter-background-color: #f2f9f9;
    --main-font-color: #0c1414;
    --sidebar-background-color: #b2dfde;
    --component-background: #ffffff;
    --sand-color: #c2b280;
    --sidebar-link-hover: #e8f5fe;

    background-color: var(--main-site-background);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "sidebar feed";
}

.sidebar {
    grid-area: sidebar;
}

.app {
    grid-area: feed;
    background-color: #c2b280;
}

/* .app {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    padding: 0 10px;
}

main {
    max-width: 900px;
    background: blue;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
} */