nav {
    grid-column: 1 / 2;
    grid-row: 1;
    background-color: var(--sidebar-background-color);

    padding: 0 20px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.main-nav {
    cursor: pointer;

    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.main-nav:hover {
    background-color: var(--sidebar-link-hover);
    border-radius: 30px;
    transition: color 0.1s ease-out;
}