body {
    --twitter-color: #406564;
    --twitter-background-color: #f2f9f9;
    --main-font-color: #0c1414;
}

.app {
    display: flex;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    padding: 0 10px;
}
